@font-face {
  font-family: Lobster;
  src: url(Lobster-Regular.ttf);
}
* {
  box-sizing: border-box;
}
body {
  color: #ffffff;
  background-image: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: sans-serif;
  font-size: 1em;
  display: flex;
  justify-content: center;
}

.container {
  width: 95vw;
  background-color: #283e50;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 50px;
  margin-bottom: 200px;
  border-radius: 5px 5px 0px 0px;
  overflow: hidden;
}

.rules_all_pictures {
  display: flex;
  flex-wrap: wrap;
}
.container__game {
  width: 95vw;
  max-width: 80vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.headline {
  width: 100%;
}
.panel {
  width: 100%;
  height: 2.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

img {
  width: 100%;
}
.picture {
  flex-shrink: 0;
  width: 100%;
}
figure {
  margin-left: 4%;
  margin-right: 4%;
}
figcaption {
  font-style: italic;
  font-size: 0.9em;
}

.text {
  width: 100%;
  background-color: #283e50;
}
.icon {
  width: 1em;
  height: 1em;
}
.icon--rules {
  filter: invert();
}

h1 {
  font-family: Lobster;
  font-size: 3em;
  font-weight: 100;
  text-align: center;
}

p {
  padding: 5%;
  line-height: 150%;
}
ol {
  text-align: left;
  margin: 8%;
  line-height: 150%;
}

li {
  margin-bottom: 1em;
}

button {
  border: 1px solid #283e50;
}

.game__field {
  width: 100%;
  height: 80vmin;
  display: flex;
  flex-wrap: wrap;
}

.game__field > button {
  background-color: rgb(183, 171, 212);
  width: 10%;
  height: 10%;
  aspect-ratio: 1/1;
}
.game__field > button:hover,
.game__field > button:focus {
  background-color: rgb(201, 187, 212);
  cursor: pointer;
}
.rules_intro {
  border: 0px;
  color: #ffffff;
  font-size: 1em;
  width: 100%;
  height: 3em;
  background-color: #1fcca4;
  border-top: 1px solid #283e50;
  border-bottom: 1px solid #283e50;
}

.rules_intro--game {
  background-color: #1fcca4;
  width: 2em;
  height: 2em;
  margin-right: 3px;
  border: 0px;
  border-radius: 2px;
}
.play {
  border: 0px;
  color: #ffffff;
  font-size: 1em;
  width: 100%;
  height: 3em;
  background-color: #0197f6;
}

.play--game {
  background-color: #0197f6;
  width: 2em;
  height: 2em;
  border: 0px;
  margin-left: 3px;
  border-radius: 2px;
}
.rules_intro:hover,
.rules_intro:focus,
.rules_intro--game:hover,
.rules_intro--game:focus {
  background-color: #1cbb96;
  cursor: pointer;
}
.play:hover,
.play:focus,
.play--game:hover,
.play--game:focus {
  background-color: #0090e9;
  cursor: pointer;
}

@media (min-width: 700px) {
  .container {
    width: 90vw;
  }

  figure {
    width: 42%;
  }
}
@media (min-width: 950px) {
  .container {
    width: 50vw;
  }
}
